<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Demo_jspTest01</display-name>
  <welcome-file-list>
    <welcome-file>FitterServlet</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.dt95.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FitterServlet</display-name>
    <servlet-name>FitterServlet</servlet-name>
    <servlet-class>com.dt95.servlet.FitterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FitterServlet</servlet-name>
    <url-pattern>/FitterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>pageServlet</display-name>
    <servlet-name>pageServlet</servlet-name>
    <servlet-class>com.dt95.servlet.pageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pageServlet</servlet-name>
    <url-pattern>/pageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpServlet</display-name>
    <servlet-name>UpServlet</servlet-name>
    <servlet-class>com.dt95.servlet.UpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpServlet</servlet-name>
    <url-pattern>/UpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BeginServlet</display-name>
    <servlet-name>BeginServlet</servlet-name>
    <servlet-class>com.dt95.servlet.BeginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BeginServlet</servlet-name>
    <url-pattern>/BeginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LastServlet</display-name>
    <servlet-name>LastServlet</servlet-name>
    <servlet-class>com.dt95.servlet.LastServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LastServlet</servlet-name>
    <url-pattern>/LastServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PageServlet</display-name>
    <servlet-name>PageServlet</servlet-name>
    <servlet-class>com.dt95.servlet.PageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PageServlet</servlet-name>
    <url-pattern>/page</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateServlet</display-name>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>com.dt95.servlet.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelServlet</display-name>
    <servlet-name>DelServlet</servlet-name>
    <servlet-class>com.dt95.servlet.DelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelServlet</servlet-name>
    <url-pattern>/del</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JqueryServlet</display-name>
    <servlet-name>JqueryServlet</servlet-name>
    <servlet-class>com.dt95.servlet.JqueryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JqueryServlet</servlet-name>
    <url-pattern>/jqajax</url-pattern>
  </servlet-mapping>
</web-app>